body{
    height: 100%;
    width: 100%;
}

mat-toolbar {
    background-color: #2B558C;
    position: relative;
    z-index: 5;
}

.content{
    padding: 24px;
}

mat-sidenav-container{
    
    height: calc(100vh - 64px);
}

mat-sidenav{
    z-index: 100;
    top: 87%;
    height: 30%;
    width: 100%;
}

mat-sidenav-content{
    background-color: #DBDBDB;
    width: 100%;
    right: 100%;
}
