<mat-nav-list>
    <div class="container">
        <div class="row">
            <a mat-list-item *ngFor="let item of menuItems()" routerLink="{{ item.route }}">
                <!--<div class="col-sm-6">-->
                    <!--<div class="row-6">-->
                        <mat-icon matListItemIcon class="menu-icon">{{ item.icon }}</mat-icon>
                <!--</div>-->
                    <!--<div class="row-6">-->
                        <span matListItemTitle class="menu-title">{{ item.label }}</span>
                    <!--</div>-->
                <!--</div>-->
            </a>
        </div>
    </div>
</mat-nav-list>