@use '@angular/material' as mat;

/* Definindo as cores personalizadas */
$custom-primary: mat.define-palette((50: #e3f2fd,
      100: #bbdefb,
      200: #90caf9,
      300: #64b5f6,
      400: #42a5f5,
      500: #2B558C,
      600: #1e88e5,
      700: #1976d2,
      800: #1565c0,
      900: #0d47a1,
      A100: #82b1ff,
      A200: #448aff,
      A400: #2979ff,
      A700: #2962ff,
      contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #FFFFFF,
        600: #FFFFFF,
        700: #FFFFFF,
        800: #FFFFFF,
        900: #FFFFFF,
        A100: #000000,
        A200: #FFFFFF,
        A400: #FFFFFF,
        A700: #FFFFFF,
      )));


$custom-accent: mat.define-palette((50: #e0f7fa,
      100: #b2ebf2,
      200: #80deea,
      300: #4dd0e1,
      400: #26c6da,
      500: #60B6BF,
      600: #00acc1,
      700: #0097a7,
      800: #00838f,
      900: #006064,
      A100: #84ffff,
      A200: #18ffff,
      A400: #00e5ff,
      A700: #00b8d4,
      contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #FFFFFF,
        600: #FFFFFF,
        700: #FFFFFF,
        800: #FFFFFF,
        900: #FFFFFF,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
      )));

$custom-warn: mat.define-palette(mat.$red-palette);
/* Mantendo o warn padrão */

/* Configurando a tipografia */

$custom-typography: mat.define-typography-config($font-family: 'Rubik',
    $headline-1: mat.define-typography-level(32px, 48px, 700),
    $headline-2: mat.define-typography-level(28px, 40px, 700),
    $headline-3: mat.define-typography-level(24px, 32px, 700),
    $headline-4: mat.define-typography-level(20px, 28px, 700),
    $headline-5: mat.define-typography-level(18px, 26px, 700),
    $body-1: mat.define-typography-level(16px, 24px, 400),
    $body-2: mat.define-typography-level(14px, 20px, 400),
    $button: mat.define-typography-level(14px, 20px, 700),
    $caption: mat.define-typography-level(12px, 16px, 400),
    $overline: mat.define-typography-level(10px, 14px, 400),
  );

$custom-theme: mat.define-light-theme((color: (primary: $custom-primary,
        accent: $custom-accent,
        warn: $custom-warn,
      ),
      typography: $custom-typography,
    ));

/* Aplicando o tema para todos os componentes */
@include mat.all-component-themes($custom-theme);
